.about {
  /* margin: 2.5rem; */
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh);
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.8),
      rgba(36, 42, 46, 0.8)
    ),
    url("/about_bg.jpg");
}

.about section {
  /* width: clamp(80rem, 80%, 90rem); */
  max-width: 800px;
  padding: 0 4rem;
  margin: 6rem auto;
  display: grid;
  flex-direction: column;
  align-items: center;
}

.about h2 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.about p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.about section a {
  margin-top: 2rem;
}

@media screen and (max-width: 600px) {
  .about {
    padding: 2.5rem 3.25rem;
  }

  .about h2 {
    font-size: 3rem;
  }
  .about p {
    font-size: 1.25rem;
  }
}
