.cityList {
  width: 100%;
  height: 65vh;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.cityList::-webkit-scrollbar {
  width: 0;
}

.cityList::-webkit-scrollbar {
  width: 8px;
}

.cityList::-webkit-scrollbar-track {
  background: #20242d;
  border-radius: 4px;
}

.cityList::-webkit-scrollbar-thumb:hover {
  background: #7b7fa1;
}

.cityList::-webkit-scrollbar-thumb {
  background: #5c5f73;
  border-radius: 4px;
}
