.sidebar {
  flex-basis: 56rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 3.5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh);
}

.footer {
  margin-top: auto;
}

.copyright {
  font-size: 1.2rem;
  color: var(--color-light--1);
}

@media screen and (max-width: 600px) {
  .sidebar {
    padding: 3rem 4rem 2.5rem 4rem;

    height: calc(60vh);
  }

  .copyright {
    font-size: 1rem;
  }
}
